*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h3-produtos{
    padding-left: 10px;
}

#grid-produtos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.figure-produtos{
    border: 1px solid black;
    border-radius: 4px;
}

.img-produtos{
    width: 100%;
}

.fig-produtos{
    padding: 10px;
}

.btn-comprar{
    display: grid;
    padding: 6px 12px;
    margin: 10px auto;
    background-color: #40b86e;
    border-radius: 3px;
    border: none;
    font-weight: bold;
}